In [2]:
import os
#Install Java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Set JAVA_HOME path variable in Linux
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
!update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java
!java -version


#Install Spark
#download Spark file
!wget -q http://apache.osuosl.org/spark/spark-2.4.6/spark-2.4.6-bin-hadoop2.7.tgz
#extract the file
!tar xf spark-2.4.6-bin-hadoop2.7.tgz
#Set SPARK-HOME path variable in Linux
os.environ["SPARK_HOME"] = "/content/spark-2.4.6-bin-hadoop2.7"


#install findspark package
!pip install -q findspark

update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java to provide /usr/bin/java (java) in manual mode
openjdk version "1.8.0_252"
OpenJDK Runtime Environment (build 1.8.0_252-8u252-b09-1~18.04-b09)
OpenJDK 64-Bit Server VM (build 25.252-b09, mixed mode)

In [3]:
import findspark
findspark.init()

In [4]:
# create entry points to spark
try:
    sc.stop()
except:
    pass
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession, SQLContext
conf = SparkConf().setAppName("lecture10").setMaster("local[*]")
sc=SparkContext(conf = conf)
spark = SparkSession(sparkContext=sc)
sqlContext = SQLContext(sc)

In [5]:
spark

In [40]:
state_list = ["alabama"]
state_abbr = ["AL"]
csv = ["nibrs_offense", "nibrs_arrestee"]
firstyear = 1991
lastyear = 2018

In [49]:
import pandas as pd

df_all = []
url_base="https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/"

for state_i in range(0,len(state_list)):
    for j in range(0, len(csv)):
        df_list = []
        for year in range(firstyear,lastyear+1):
            url = url_base+state_list[state_i]+'/'+state_abbr[state_i]+'-'+str(year)
            url_c = url + '/' + csv[j] + '.csv'
            #print(url_c)
            try:
                temp_df = pd.read_csv(url_c, error_bad_lines=False)
                df_list.append(temp_df)
            except:
                url_c = url + '/' + csv[j].upper() + '.csv'
                try:
                    temp_df = pd.read_csv(url_c, error_bad_lines=False)
                    df_list.append(temp_df)
                except:
                    print(url_c + " did not exist")
        df_all.append(pd.concat(df_list))
        
#AL2018_OFFENSE=pd.read_csv(url,  error_bad_lines=False)
#AL2018_OFFENSE

https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-1993/NIBRS_OFFENSE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-1994/NIBRS_OFFENSE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-1995/NIBRS_OFFENSE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-1996/NIBRS_OFFENSE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-1997/NIBRS_OFFENSE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-1998/NIBRS_OFFENSE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-1999/NIBRS_OFFENSE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-2000/NIBRS_OFFENSE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-2001/NIBRS_OFFENSE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-2002/NIBRS_OFFENSE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-2003/NIBRS_OFFENSE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-2004/NIBRS_OFFENSE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-2005/NIBRS_OFFENSE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-1993/NIBRS_ARRESTEE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-1994/NIBRS_ARRESTEE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-1995/NIBRS_ARRESTEE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-1996/NIBRS_ARRESTEE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-1997/NIBRS_ARRESTEE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-1998/NIBRS_ARRESTEE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-1999/NIBRS_ARRESTEE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-2000/NIBRS_ARRESTEE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-2001/NIBRS_ARRESTEE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-2002/NIBRS_ARRESTEE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-2003/NIBRS_ARRESTEE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-2004/NIBRS_ARRESTEE.csv did not exist
https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-2005/NIBRS_ARRESTEE.csv did not exist

In [50]:
df_all

[      offense_id  incident_id  ...  NUM_PREMISES_ENTERED METHOD_ENTRY_CODE
 0       133326.0     130114.0  ...                   NaN               NaN
 1       133190.0     129982.0  ...                   NaN               NaN
 2       133130.0     129925.0  ...                   NaN               NaN
 3       133129.0     129924.0  ...                   NaN               NaN
 4       133128.0     129923.0  ...                   NaN               NaN
 ...          ...          ...  ...                   ...               ...
 2149         NaN          NaN  ...                   NaN               NaN
 2150         NaN          NaN  ...                   NaN               NaN
 2151         NaN          NaN  ...                   NaN               NaN
 2152         NaN          NaN  ...                   NaN               NaN
 2153         NaN          NaN  ...                   NaN               NaN

 [572637 rows x 16 columns],
      arrestee_id  incident_id  ...  AGE_RANGE_LOW_NUM AGE_RANGE_HIGH_NUM
 0         1614.0     129882.0  ...                NaN                NaN
 1         1615.0     130130.0  ...                NaN                NaN
 2         1650.0     130935.0  ...                NaN                NaN
 3         1649.0     130924.0  ...                NaN                NaN
 4         1648.0     130912.0  ...                NaN                NaN
 ..           ...          ...  ...                ...                ...
 135          NaN          NaN  ...               46.0                0.0
 136          NaN          NaN  ...               28.0                0.0
 137          NaN          NaN  ...               18.0                0.0
 138          NaN          NaN  ...               19.0                0.0
 139          NaN          NaN  ...               38.0                0.0

 [21746 rows x 37 columns]]