In [1]:
import os
#Install Java
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Set JAVA_HOME path variable in Linux
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
!update-alternatives --set java /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java
!java -version


#Install Spark
#download Spark file
!wget -q http://apache.osuosl.org/spark/spark-2.4.6/spark-2.4.6-bin-hadoop2.7.tgz
#extract the file
!tar xf spark-2.4.6-bin-hadoop2.7.tgz
#Set SPARK-HOME path variable in Linux
os.environ["SPARK_HOME"] = "/content/spark-2.4.6-bin-hadoop2.7"


#install findspark package
!pip install -q findspark

update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java to provide /usr/bin/java (java) in manual mode
openjdk version "1.8.0_252"
OpenJDK Runtime Environment (build 1.8.0_252-8u252-b09-1~18.04-b09)
OpenJDK 64-Bit Server VM (build 25.252-b09, mixed mode)

In [2]:
import findspark
findspark.init()

In [3]:
# create entry points to spark
try:
    sc.stop()
except:
    pass
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession, SQLContext
conf = SparkConf().setAppName("lecture10").setMaster("local[*]")
sc=SparkContext(conf = conf)
spark = SparkSession(sparkContext=sc)
sqlContext = SQLContext(sc)

In [4]:
spark

In [30]:
import pandas as pd

url="https://raw.githubusercontent.com/roched1atwit/CS3800_4050/master/data/alabama/AL-2018/NIBRS_OFFENSE.csv"
AL2018_OFFENSE=pd.read_csv(url,  error_bad_lines=False)
AL2018_OFFENSE

      DATA_YEAR  OFFENSE_ID  ...  NUM_PREMISES_ENTERED  METHOD_ENTRY_CODE
0          2018   130261148  ...                   NaN                NaN
1          2018   130266140  ...                   NaN                NaN
2          2018   130261192  ...                   NaN                NaN
3          2018   130261235  ...                   NaN                NaN
4          2018   130271335  ...                   NaN                NaN
...         ...         ...  ...                   ...                ...
2149       2018   120342190  ...                   NaN                NaN
2150       2018   120341972  ...                   NaN                NaN
2151       2018   120342018  ...                   NaN                NaN
2152       2018   120342051  ...                   NaN                NaN
2153       2018   120342179  ...                   NaN                NaN

[2154 rows x 8 columns]